@font-face {
  font-family: 'Bellota';
  font-style: normal;
  font-weight: 300;
  src: url('assets/fonts/bellota-v16-latin_cyrillic-300.woff2');
}

@font-face {
  font-family: 'Bellota';
  font-style: normal;
  font-weight: 400;
  src: url('assets/fonts/bellota-v16-latin_cyrillic-regular.woff2');
}

@font-face {
  font-family: 'Bellota';
  font-style: normal;
  font-weight: 700;
  src: url('assets/fonts/bellota-v16-latin_cyrillic-700.woff2');
}

