// colors
$white: #FFFFFF;
$black: #101010;

$blue: #00A3FF;
$blue-light: #80D1FF;
$blue-light-2: #D1EFFF;

$gray: #B8B8B8;
$gray-dark: #818181;
$gray-light: #E8E8E8;
$gray-light-2: #F5F5F5;
// ---


// media
$media-pc-1440: 1440px;
$media-pc-1280: 1280px;
$media-mobile: 768px;
// ---

// border-radius
$border: 24px;
// ---

// transition
$transition-time: 200ms;
$transition-way: linear;
// ---
